@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md">
        <img src="~/images/SAEON_Map.jpg" class="rounded float-left" style="padding-right:10px" />
        <p>
            The South African Environmental Observation Network (SAEON) is a National Facility of the National Research Foundation (NRF).
        </p>
        <p>
            SAEON is a comprehensive, sustained, coordinated and responsive South African environmental observation network that delivers long-term
            reliable data for scientific research and informs decision-making for a knowledge society and improved quality of life.
        </p>
        <p>
            SAEON’s mandate, to detect, understand and predict environmental change in South Africa, is achieved through six regional research nodes,
            each with their own observation sites and research infrastructure.
        </p>
        <p>
            These nodes serve as research and education platforms for long-term studies of ecosystems to help us understand them and improve our ability to detect,
            predict and react to environmental change.
        </p>
        <p>
            The core research programme strives to distinguish between natural change and that caused by human activity,
            as well as to unravel the relations between social change and ecosystem change.
        </p>
        <hr />
        <p>
            SAEON brings better cohesion to research programmes nationally and internationally, and ensures that long-term ecological research data is
            archived and accessible as a national asset for generations to come.
        </p>
        <hr />
        <p>
            <address>
                <strong>SAEON National Office</strong><br />
                56 Florence Street, Colbyn, Pretoria, 0083<br />
                <a href="http://www.saeon.ac.za" target="_blank">www.saeon.ac.za</a><br />
                <abbr title="Phone">Tel:</abbr> +27 (0)67 122 2196
            </address>
        </p>
    </div>
</div>