@{
    ViewData["Title"] = "Acknowledgements";
}
<div class="row">
    <div class="col-md">
        <p>
            This database was developed by Dr Angus Paterson, Dr Kim Bernard, Tanith Grant, Dr Nuette Gordon and Bruce Donovan and Dr Wayne Goschen
            (SAEON Egagasini – responsible for Phase I and II application development). It incorporates the KZN Estuaries Database
            which was developed by Rose Hamilton (Eco Tech Database Consultants).
        </p>
        <p class="p1">
            Funding was provided by the Water Research Commission (WRC) and the Department of Environmental Affairs (DEA) Oceans and Coasts
            (previously DEAT, MCM). We gratefully acknowledge their support during this project.
        </p>
        <p>We acknowledge the following institutions and people for their valuable and continued input:</p>
        <table style="height: 58px;" width="521">
            <tbody>
                <tr>
                    <td>   </td>
                    <td>Ezemvelo KZN Wildlife</td>
                    <td>Dr Peter Goodman</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>C.A.P.E.</td>
                    <td>Pierre de Villiers</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>CSIR</td>
                    <td>Dr Susan Taljaard, Lara van Niekerk, Pat Morant</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>DWA (RDM)</td>
                    <td>Barbara Weston</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>DWA (RQS)</td>
                    <td>Gerhard Cilliers</td>
                </tr>
                <tr>
                    <td> </td>
                    <td>DEA O&amp;C</td>
                    <td>Ayanda Matoti</td>
                </tr>
            </tbody>
        </table>
        <p> </p>
        <p> SAEON specially wishes to thank Dr Pete Goodman from Ezemvelo KZN Wildlife for permission to use the KZN database as an initial model for the SAED. </p>
        <p> SAEON would also like to acknowledge the broader estuarine community for their enthusiasm and input, specifically those who have contributed data.</p>
    </div>
</div>