@{
    ViewData["Title"] = "Background";
}

<div class="row">
    <div class="col-md">
        <p>
            SAEIS is a web-based resource, providing details of research, monitoring and management associated with South African estuaries.
            The system provides search capabilities, detailed information from a relational database that is maintained and extended constantly by SAEON's marine researchers,
            and meta-data links to data sets, spatial data, images, publications, and videos contributed by SAEON and by the community at large. Data sets deposited with SAEON,
            or of which meta-data is harvested by SAEON from collaborating institutions, are also available.
        </p>
        <p>
            The web resource in its current form represents Phase III of development of the SAEIS platform.
        </p>
        <p>
            <strong>Phase I</strong> (South African Estuarine Information System) housed all existing published material that was in the public domain at the time.
            These included theses, Council for Scientific and Industrial Research (CSIR) Green Series Reports, reports from DWA (formerly DEAT),
            reports from the Water Research Commission (WRC), the C.A.P.E. reports, management plans, published indices, maps, images, etc.
            This was a searchable system from which one could download all the pertinent information on a particular system or groups of systems.
        </p>
        <p>
            <strong>Phase II</strong> (South African Estuaries Database - SAED) involved the development of a standalone database containing metadata and data holdings, many of which are not in the public domain.  The SAED was seen as a longer term objective requiring more detailed data use agreements and a more sophisticated database structure. The aim was to embed SAED into a live data-portal incorporating all components of Phase I, in addition allowing individuals or organizations opportunities of regularly archiving data.
        </p>
        <p>
            <strong>Phase III</strong> (SAEIS web resource), completed in August 2014, was undertaken by SAEON to improve access to and integration with estuaries-related data sets and publications.
        </p>
        <p>
            SAEIS targets the general estuary user, scientists and managers to facilitate archiving and sharing of data and metadata.  Certain lower levels of the data portal provide open access to the general user, while other higher level access to private or embargoed datasets will be accessible by registered users who have permission from the data owners.
        </p>
    </div>
</div>