@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-md-12">
        <address>
            <strong>SAEON National Office</strong><br />
            56 Florence Street, Colbyn, Pretoria, 0083<br />
            <a href="http://www.saeon.ac.za" target="_blank">www.saeon.ac.za</a><br />
            <abbr title="Phone">Tel:</abbr> +27 (0)67 122 2196
        </address>
    </div>
</div>