@{
    ViewData["Title"] = "Contact";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col-md">
        <address>
            <strong>SAEON Elwandle Coastal Node</strong><br />
            A Block, Ocean Sciences Campus, Nelson Mandela University, Gomery Avenue, Summerstrand, Port Elizabeth, South Africa<br />
            <i class="small material-icons">phone</i>+27 41 504 4750<br />
            <i class="small material-icons">email</i><a href="mailto:timpn@saeon.ac.za">timpn@saeon.ac.za</a><br />
            <i class="small material-icons">language</i><a href="http://smcri.saeon.ac.za" target="_blank">Shallow Marine and Coastal Research Infrastructure</a><br />
            <i class="small material-icons">language</i><a href="http://elwandle.saeon.ac.za" target="_blank">SAEON Elwandle Coastal Node</a><br />
            <i class="small material-icons">language</i><a href="http://www.saeon.ac.za" target="_blank">South African Environmental Observation Network (SAEON)</a>
        </address>
    </div>
</div>