@{
    ViewData["Title"] = "South African Estuary Information System";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}

<div class="row">
    <div class="col-md">
        <div class="text-center">
            <img src="~/images/Home.png" class="rounded img-fluid" alt="South African Estuary Information System" />
        </div>
        <br />
        <p>
            The South African Environmental Observation Network (SAEON) aims to bring about cohesion between existing, but fragmented, environmental research programmes in South Africa and is developing a facility
            to ensure that long term data is archived and accessible as a national asset for generations to come.
        </p>
        <p>
            At present there is no single repository of information on estuaries and data or reports that are available, are fragmented across different organizations.
            This is an untenable situation that may be limiting the way in which these vulnerable ecosystems are currently managed. SAEON and partners aim to redress this issue,
            by consolidating available data, reports and other information into a single searchable repository called the South African Estuaries Information System.
        </p>
    </div>
</div>