@{
    ViewData["Title"] = "Links";
}

<div class="row">
    <div class="col-md">
        <p>Cape Nature: <a href="http://www.capenature.co.za" target="_blank">www.capenature.co.za</a></p>
        <p>Consortium for Estuarine Research and Management: <a href="https://cerm.mandela.ac.za/" target="_blank">cerm.mandela.ac.za</a></p>
        <p>Council for Scientific and Industrial Research: <a href="http://www.csir.co.za" target="_blank">www.csir.co.za</a></p>
        <p>Department of Environmental Affairs: <a href="http://www.environment.gov.za" target="_blank">www.environment.gov.za   </a></p>
        <p>Department of Water and Sanitation (DWS): <a href="http://www.dwa.gov.za" target="_blank">www.dwa.gov.za</a></p>
        <p>National Research Foundation: <a href="http://www.nrf.ac.za" target="_blank">www.nrf.ac.za</a> </p>
        <p>Resource Quality Services (DWS): <a href="http://www.dwa.gov.za/iwqs/" target="_blank">www.dwa.gov.za/iwqs/</a> </p>
        <p>South African Environmental Observation Network: <a href="http://www.saeon.ac.za" target="_blank">www.saeon.ac.za</a> </p>
        <p>South African Institute for Aquatic Biodiversity: <a href="http://www.saiab.ac.za" target="_blank">www.saiab.ac.za</a></p>
        <p>Water Research Commission: <a href="http://www.wrc.org.za" target="_blank">www.wrc.org.za</a></p>
        <p>Cape Action Plan for the People &amp; Environment: <a href="http://www.capeaction.org.za" target="_blank">www.capeaction.org.za</a></p>
        <p>Department of Agriculture, Forestry &amp; Fisheries: <a href="http://www.daff.gov.za" target="_blank">www.daff.gov.za</a></p>
        <p>Ezemvelo KZN Wildlife: <a href="http://www.kznwildlife.com" target="_blank">www.kznwildlife.com</a></p>
    </div>
</div>