@{
    ViewData["Title"] = "Researchers";
}
<div class="row">
    <div class="col-md-12">
        <p>
            To view contact details of researchers and managers associated with estuaries throughout South Africa please visit the
            Consortium for Estuarine Research and Management (CERM) directory here:
        </p>
        <p>
            <a href="https://cerm.mandela.ac.za/" target="_blank">cerm.mandela.ac.za</a>
        </p>
        <p>
            If you are interested in being added to the researchers or managers list, or the CERM mailing list, please contact Prof Guy Bate.
        </p>
    </div>
</div>