@model SAEIS.WebSite.Models.InfoViewModel
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">text</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">text</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
    </div>
</div>