@model SAEIS.WebSite.Models.InfoViewModel
<div class="row">
    <div class="col-md">
        <div class="m-4">
            1
        </div>
    </div>
    <div class="col-md">
        <div class="p-4">
            2
        </div>
    </div>
</div>